# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.DeckOfCards.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dacid\Documents\CSharp\DeckOfCards\.idea\.idea.DeckOfCards\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
